<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class=text-center>
		<h1>Home page working</h1>
		<p>
		We are collecting the contact number and creating the
		spring boot project for the learning purposes.
		</p>
		<button class="btn btn-primary btn-lg"> Get Start</button>
		</div>

	</section>


</body>
</html>