<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="card mr-5 ml-3">
			<div class="card-body text-center">
				<h2>Add Contact</h2>
				<div th:if="${session.message}"
					th:classappend="${session.message.type}" class="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>

				</div>
				<div class="container-fluid mt-1">	
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${userContact}"
								enctype="multipart/form-data" method="Post"
								th:action="@{/user/saveContact}" class="mt-2">


								<div class="input-group mb-2">
									<div class="input-group-prepend">

										<div class="input-group-text">+</div>
									</div>
									<input type="text" class="form-control" id="firstName"
										name="firstName" placeholder="First Name">
								</div>
								<div class="input-group mb-2">
									<div class="input-group-prepend">

										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" class="form-control" id="lastName"
										name="lastName" placeholder="Last Name">
								</div>

								<div class="input-group mb-2">
									<div class="input-group-prepend">

										<div class="input-group-text">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
									<input type="text" class="form-control" id="profession"
										name="profession" placeholder="Profession">
								</div>
								<div class="input-group mb-2">
									<div class="input-group-prepend">

										<div class="input-group-text">@</div>
									</div>
									<input type="text" class="form-control" id="email" name="email"
										placeholder="Email">
								</div>
								<div class="input-group mb-2">
									<div class="input-group-prepend">

										<div class="input-group-text">
											<i class="fas fa-phone"></i>
										</div>
									</div>
									<input type="text" class="form-control" id="phone" name="phone"
										placeholder="Phone">
								</div>

								<div class="form-group mt-3">
									<textarea rows="05" cols="20" name="descripton"
										class="form-control" placeholder="Enter your description"></textarea>
								</div>

								<div class="custom-file">
									<input type="file" name="profileImage">
								</div>

								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>